<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Digital Retailers</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
</head>
<body>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 text-center col-md-8 p-lg-5 mx-auto my-5">
                    <h1>DIGITAL RETAILERS</h1>
                    <p class="lead">Best Laptops at you desk!!</p>
                    <p><a asp-controller="Accounts" asp-action="Login" class="btn btn-outline-secondary">User Login</a>
                       <a asp-controller="Seller" asp-action="Login" class="btn btn-outline-secondary">Seller Login</a> 
                       <a asp-controller="Admin" asp-action="Login" class="btn btn-outline-secondary">Admin Login</a></p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2"><img src="https://lh3.googleusercontent.com/proxy/sBdheaRct7aZL_NQKxklOxaSJvztoChvJMSJJpV-scTIJ86fAVpSB-lBYmofuPHCaOzoM90yOWROBGL_1Zw7Mvw1V1AgP2Sw6_QDcJo8vcqCrtvjsDGvDL0" alt="..." class="img-fluid"></div>
            </div>
        </div>
    </section>

    <style>

    </style>


    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Mac Books !</h2>
                <p class="lead">Shop With the latest available M1 Chip Macs at affordable price</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Windows Laptops</h2>
                <p class="lead">Inbuilt MS Office makes it much more advanced and easy.Shop Now!</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>
</body>
</html>